@model OrderDashboardViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-truck"></i>
            Orders
            <span>
                >
                Dashboard
            </span>
        </h1>
    </div>
    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12">
                <!-- Filter Section -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget  jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false" role="widget">

                        <!-- widget div-->
                        <header role="heading">
                            <h2 class="font-md"><strong>Filter</strong></h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <div role="content">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-1">Company</label>
                                        <div class="col-sm-3">
                                          
                                            @Html.DropDownListFor(x=>x.Company, new SelectList(Model.Company),"Select", new { @class = "form-control" })
                                        </div>
                                
                                        <label class="control-label col-sm-1" for="TagGroup">State</label>
                                       
                                        <div class="col-sm-3">
                                            @Html.DropDownList("State", EnumHelper.GetSelectList(typeof(OrderStates)),"Select",new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="btn btn-primary" type="button" onclick="filterOrders();" value="Search"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                </div>
                <!-- Filter Section End -->
            </article>

        </div>
    </section>
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <article class="col-sm-12">
                <!-- NEW COL START -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Customer Div-->
                    <div class="jarviswidget  jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false" role="widget">

                        <!-- widget div-->
                        <header role="heading">
                            <h2 class="font-md"><strong>Orders</strong></h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <div role="content">
                            <div class="orderDetailPanel" id="allOrdersSection">
                                <div class="widget-body no-padding">
                                    <div class="tab-content padding-10">
                                        <div class="tab-pane fade active in" id="AllParts">
                                            <div class="padding-10">
                                                <table id="OrdersList" class="table table-striped table-bordered table-hover"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                </div>
                <!-- END COL -->
            </article>
        </div>
        <!-- END ROW -->
    </section>
    <input type="hidden" id="customerId" value="@Model.CustomerId"/>
</div>
<!-- END MAIN CONTENT -->


<style>
    .orderDetailPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .orderDetailPanel > div {
            margin: 0px 5px 15px 0px;
        }

        .orderDetailPanel .dropFile {
            overflow-y: scroll;
            max-height: 200px;
        }

    .tagDropDown {
        max-width: inherit;
        padding: 2px;
        color: #000;
    }

    .tagPanel {
        padding: 5px;
        border-radius: 5px;
    }

    #tagSection .active table thead {
        color: #000;
    }

    #tagSection .active {
        border-radius: 5px;
        border-color: #3276b1;
        color: #fff;
        background-color: #337ab7;
    }

    .tagLabel {
        padding: 0px 10px;
    }

    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

    #OrdersList {
        width: 100% !important;
    }
</style>


@section pagespecific {

   <script>

        var clientTable = $('#OrdersList').DataTable({
            serverSide: true,
            //ajax: appRoot + "Dashboard/GetCustomerOrders",
            "ajax": {
                "url": appRoot + "Dashboard/GetCustomerOrders",
                "type": 'GET',
                "data": function (d) {
                    d.customerId = $('#customerId').val();
                    d.company = $('#Company option:selected').text() == "Select" ?null:$('#Company option:selected').text();
                    d.state = $('#State').val() == "" ? null : $('#State').val();
                },
                "dataSrc": function (json) {
                    // manipulate your data (json)
                    return json.data;
                }
            },
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": false,
            "type": 'GET',

            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            columns: [
                {
                    name: 'CustOrderID',
                    data: 'custOrderID',
                    title: "Order ID",
                    sortable: true,
                    searchable: true,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<a href="javascript:void(0);"  title=" Edit" onclick="viewOrder(' + data + ');">' + data + '</a> '
                        }
                        return data;
                    }
                },

                {
                    name: 'companyName',
                    data: "company",
                    title: "Company",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'stateName',
                    data: "stateName",
                    title: "State",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'employeeName',
                    data: "firstName",
                    title: "Employee",
                    sortable: true,
                    searchable: true,
                    "render": function (data, type, full, meta) {
                        return full.firstName + " " + full.lastName;
                    }
                },
                {
                    name: 'createdDate',
                    data: "createdDate",
                    title: "Date Create",
                    sortable: true,
                    searchable: true,
                    "render": function (data, type, full, meta) {
                        return new Date(data).toLocaleString();
                    }
                },
                {
                    name: 'custOrderID',
                    data: "custOrderID",
                    title: "Action",
                    sortable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a href="javascript:void(0);" title=" Edit" onclick="viewOrder(' + data + ');"> View </a> ';
                        }
                        return data;
                    }
                }
            ],
            "scrollX": true,
            "oLanguage": {
                "sSearch": ""
            },
            //dom: "<'dt-toolbar'<'col-xs-12 col-sm-5 col-md-2 col-lg-2'B><'col-xs-12 col-sm-5 col-md-5 col-lg-5 'f><'hidden-sm hidden-xs col-md-2 col-lg-2 pull-right'l>r>" +
            //"t" +
            //"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            buttons: [
                {
                    className: "category-select",
                    text: '',
                    action: function (e, dt, node, config) {
                        alert('Button activated');
                    }
                }

            ],
            initComplete: function () {
                $('.category-select').parent().html(' <section>' +

                    '<label class="select" > ' +
                    '<select class="input-sm" id= "CategorySearchDDL" > ' +
                    '<option value= "0" selected> Select Category </option > ' +
                    '<option value= "1" > Alexandra</option > ' +
                    '<option value= "2" > Alice</option > ' +
                    '<option value= "3" > Anastasia</option > ' +
                    '<option value= "4" > Avelina</option > ' +
                    '   </select >' +
                    '</label > ' +
                    '</section >')
                $('.dataTables_filter input').attr("placeholder", "Find by product ID or Description");
                $('.dataTables_filter input').css("min-width", "250px");
            },
            "autoWidth": true
           
        });
        
        function viewOrder(custOrderID) {
            window.location.href = appRoot + "Order/View/" + custOrderID;
        }

        function filterOrders() {
            clientTable.ajax.reload();
        }
    </script>
  
}