<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-truck"></i>
                Orders
                <span>
                    >
                    Subtitle
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-9">
                <!-- Order Info Section -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget  jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false" role="widget">

                        <!-- widget div-->
                        <header role="heading">
                            <h2 class="font-md"><strong>Order Info</strong></h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <div role="content">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Work Order No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="workOrderno" data-bv-field="workOrderno" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Invoice No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="invoiceNo" data-bv-field="invoiceNo"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <div class="pull-right">
                                                <button class="btn btn-primary">Update</button>
                                                <button class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                </div>
                <!-- Order Info End -->
            </article>
        </div>
    </section>
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-5">
                <!-- NEW COL START -->
                <article>
                    <div class="jarviswidget jarviswidget-color-darken" id="tags_section" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <h2 class="font-md"><strong>Tags</strong></h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="row">
                                <label class="col-md-12"><strong>Drag and Drop on to shipping address</strong></label>
                            </div>
                            <div class="widget-body no-padding">
                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="AllParts">
                                        <div class="padding-10">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <!-- END COL -->
            </div>
            <div class="col-sm-7">
                <article>
                    <!-- NEW COL START -->
                    <div class="jarviswidget" id="shipping_section" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <label style="margin-left:10px">Shipping Details</label>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <fieldset>
                                        <legend>Shipping Address</legend>
                                    </fieldset>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Comments</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">First</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="first_name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Last</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="last_name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Phone No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="phone_number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Cell No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="cell_number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Fax No.</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="fax_number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Address 1</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="address1" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Address 2</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="address2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">City</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="city" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Postcode</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="postcode" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Province</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="province" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Country</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="country" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset>
                                        <legend>Shipping Details</legend>
                                    </fieldset>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-6">Proposed Ship Date</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" id="ship_date" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Carrier</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="carrier" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Charges</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="charges" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Sales Person</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="sales_person" />
                                            </div>
                                        </div>
                                        <div class="custom-scroll dropFile">
                                            <form action="~/Order/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="dropzoneForm" style="min-height:inherit">
                                                <div class="dz-default dz-message">
                                                    <span>
                                                        <span class="text-center">
                                                            <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                                                <span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>
                                                                    &nbsp;&nbsp;
                                                                    <h4 class="display-inline"> (Or Click)</h4>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6">Shipping Files</label>
                                        </div>
                                        <div class="custom-scroll dropFile">
                                            <div class="dz-default dz-message">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-10">
                                <div class="col-sm-7">

                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary pull-right">New Shipping Record</button>
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- END COL -->
                </article>
            </div>
        </div>
        <!-- END ROW -->
    </section>

</div>
<!-- END MAIN CONTENT -->

<style>
    .orderDetailPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .orderDetailPanel > div {
            margin: 0px 5px 15px 0px;
        }

        .orderDetailPanel .dropFile {
            overflow-y: scroll;
            max-height: 200px;
        }

    .tagDropDown {
        max-width: inherit;
        padding: 2px;
        color: #000;
    }

    .tagPanel {
        padding: 5px;
        border-radius: 5px;
    }

    #tagSection .active table thead {
        color: #000;
    }

    #tagSection .active {
        border-radius: 5px;
        border-color: #3276b1;
        color: #fff;
        background-color: #337ab7;
    }
    .tagLabel {
        padding: 0px 10px;
    }
</style>

@section pagespecific {

    <script>

    </script>
}