@*@model CenDek.Models.Parts.ListPTable*@
@{
    Layout = null;
}
<article class="col-sm-12">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2> Filters </h2>

        </header>

        <!-- widget content -->
        <div class="widget-header no-padding">

            <div id="parent" class="widget widget-header">

                <fieldset>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="col-md-4 control-label labPad">Start Date</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input id="startdate1" name="startdate1" @*data-plugin-masked-input*@ data-input-mask="99/99/9999" oninput="validateStartDate1()" placeholder="__/__/____" class="filterItem form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-md-4 control-label labPad">Currency</label>
                                <span class="custom-dropdown">
                                    <select id="Currency" name="Currency" class="fontawesomedollar-select filterItem">
                                        @foreach (var item in (SelectList)ViewBag.SellCurrencyID)
                                        {
                                            <option value="@item.Value">&#xf155;   @item.Text</option>
                                        }
                                    </select>
                                </span>
                            </div>

                            <div class="col-sm-4">
                                <input type="search" title="Search Part Name Or Id" name="searchPart" id="searchPart" class="filterItem" placeholder="Search Part Name Or Id">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="col-md-4 control-label labPad">Finish Date</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input id="finishdate1" name="finishdate1" @*data-plugin-masked-input*@ data-input-mask="99/99/9999" oninput="validateEndDate1()" placeholder="__/__/____" class="filterItem form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-md-4 control-label labPad">Customer</label>
                                <span class="custom-dropdown">
                                    <select id="Customer" name="Customer" class="fontawesomecustomer-select filterItem">
                                        <option selected="selected">&#xf2c0; All</option>
                                        @foreach (var item in (SelectList)ViewBag.CustomerID)
                                        {
                                            <option value="@item.Value">&#xf2c0;   @item.Text</option>
                                        }
                                    </select>
                                </span>
                            </div>
                            <div class="col-sm-3">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                                        <i class="fa fa-gear fa-1x fa-spin"></i>
                                        Tools
                                        <span class="caret"></span>
                                    </button>

                                    <ul id="selectTools" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation"><a data-modal='' role="menuitem" tabindex="-1" href="Parts/Edit">Update</a></li>
                                        <li id="DelName" role="presentation"><a name="DelName" onclick="selRowId()" data-modal='' role="menuitem" tabindex="-1" href="Parts/Delete">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="text-align:center" class="col-sm-offset-10">

                                <div class="input-group-btn">
                                    <button class="btn btn-default" name="search" id="filterButton" type="button">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
        <!-- end widget content -->
        <div class="widget no-padding">

            <table id="jqgrid"></table>
            <div id="pjqgrid"></div>
        </div>
    </div>
    <!-- end widget -->


</article>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>