<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa  fa-address-card"></i>
                Customers
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
				<header role="heading"><div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> </div>
					<span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
					<h2>Item #44761 </h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
				<div role="content">
                    <!-- Modal -->
                    <div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Customer</h4>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("Partial_Views/NewCustomer", new DataAccess.Models.Customer {})
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal-->
					<div class="widget-body no-padding">
						<div class="padding-10">
                            <table id="Customers" class="table table-striped table-bordered table-hover"></table>
						</div>
					</div>
				</div>
			</div> 
        </div>
    </div>
</div>
@section pagespecific {
<script>
    $(document).ready(function () {

        var responsiveHelper_datatable_tabletools = undefined;
        var responsiveHelper = undefined;


        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        var clientTable = $('#Customers').DataTable({
            serverSide: true,
            ajax: appRoot + "customer/GetCustomers",
            columns: [
                {
                    name: 'customerID',
                    data: 'customerID',
                    title: "Customer ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'company',
                    data: "company",
                    title: "Company",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'address1',
                    data: "address1",
                    title: "Address 1",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'address2',
                    data: "address2",
                    title: "Address 2",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'city',
                    data: "city",
                    title: "City",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'province',
                    data: "province",
                    title: "Province",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'country',
                    data: "country",
                    title: "Country",
                    sortable: true,
                    searchable: true
                }
            ],
            dom: "<'dt-toolbar'<'col-xs-12 col-sm-6 col-md-2 col-lg-2'B><'col-xs-12 col-sm-6 col-md-7 col-lg-8'f><'hidden-sm hidden-xs col-md-3 col-lg-2'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            buttons: [
               {
                   className: "new-customer",
                    text: '',
                    action: function (e, dt, node, config) {
                       alert('Button activated');
                    }
               }

            ],
            initComplete: function () {
                $('.new-customer').parent().html('<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#newCustomerModal"> <i class="fa fa-plus"></i> New Customer </button>')
            },
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper) {
                    responsiveHelper = new ResponsiveDatatablesHelper($('#Customers'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper.respond();
            }
        });

        $('#Customers tbody').on('click', 'tr', function () {
            var data = clientTable.row(this).data();
            window.location.href = appRoot + "Customer/Detail/" + data.customerID;
        });

        $('#newCustomerModal').on('shown.bs.modal', function () {
            $.validator.unobtrusive.parse('#newCustomerModalForm');
        });

        // Clear contact modal fields on hide
        $('#newCustomerModal').on('hidden.bs.modal', function () {

            // Remove any form validation artifacts.
            $(this).each(function () {
                $(this).find(".field-validation-error").empty();
                $(this).find(".input-validation-error").removeClass("input-validation-error");
                $(this).find(".state-error").removeClass("state-error");
                $(this).find(".state-success").removeClass("state-success");
                $(this).trigger('reset.unobtrusiveValidation');
            });

            var modal = $(this);
            modal.find('#Company').val('');
            modal.find('#PhoneNo').val('');
            modal.find('#Fax').val('');
            modal.find('#Address1').val('');
            modal.find('#Address2').val('');
            modal.find('#City').val('');
            modal.find('#Province').val('');
            modal.find('#PostalCode').val('');
            modal.find('#Country').val('');
            modal.find('#Comments').val('');
        });

        $('#newCustomerModal').on('submit', '#newCustomerModalForm', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: appRoot + "customer/AddNewCustomer",
                data: form.serialize(),
            })
                .done(function () {
                    $('#newCustomerModal').modal('hide');
                    $('#Customers').DataTable().ajax.reload();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    //append error message
                    console.log(textStatus);
                });
            return false;
        });
    });
</script>
}